html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 5% 15% 55% 15% 10%;
  grid-template-areas:
    ". header header header header ."
    ". . . . . ."
    ". headline headline headline headline ."
    ". . . . . ."
    ". footer footer footer footer .";
  background-color: #f3fffc;
}

.header {
  grid-area: header;
  height: 50px;
}

.navbar-content {
  text-align: center;
  display: flex;
}

.navbar-content h1 {
  color: #ffffff;
  text-shadow: 2px 2px 2px #26856d;
}
.navbar-content a:link {
  padding: 2%;
  flex: 1;
  text-decoration: none;
}

.headline {
  grid-area: headline;
  text-align: center;
  font-size: 75px;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 25px;
  }
}

.headline h1 {
  color: #ffffff;
  text-shadow: 3px 3px 6px #26856d;
}
.content {
  grid-area: main;
  display: flex;
  text-align: center;
}

.content-content h1 {
  flex: 1;
}

.footer {
  grid-area: footer;
  text-align: center;
}
.footer-content {
  padding: 5px;
  text-align: center;
  display: flex;
}
.footer-content a {
  margin: 0;
  flex: 1;
}

.fa-facebook {
  color: #26856d;
}

.fa-linkedin {
  color: #26856d;
}

.fa-instagram {
  color: #26856d;
}
