/************/
/*Outer grid*/
/************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.grid_outer-container {
  height: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 3% 74.5% 22.5%;
  grid-template-areas:
    "men men"
    "sidebar gameboard"
    "sidebar playerhand";
}

.grid_menu-container {
  grid-area: men;
}
.grid_sidebar-container {
  grid-area: sidebar;
}
.grid_gameboard-container {
  grid-area: gameboard;
}
.grid_playerhand-container {
  grid-area: playerhand;
}

/************/
/**menu grid*/
/************/

/**************/
/*sidebar grid*/
/**************/
.grid_sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 1%;
}

/****************/
/*gameboard grid*/
/****************/

/*****************/
/*playerhand grid*/
/*****************/

.grid_playerhand-container {
  display: grid;
  grid-template-columns: 5% 1fr 85% 1fr;
  grid-column-gap: 5px;
}
