.dnd-box1 {
  background-color: #cccccc;
}

.dnd-box2 {
  background-color: #cccccc;
}

.item-drag {
  background-color: #ffffff;
}

.item-locked {
  background-color: lightgrey;
}

.item-dragOp {
  background-color: #b336364b;
}

.item-dragPl {
  background-color: rgba(30, 30, 97, 0.13);
}

.item-dragOp div {
  background-color: red;
}

.item-dragPl div {
  background-color: blue;
}

.dgb_box {
  opacity: 0.3;
  transition: opacity 1s;
}

.dgb_box:hover {
  opacity: 1;
}

.target-hl {
  animation: targets 1s infinite;
}

.target-current {
  animation: targets 0.3s infinite;
}

@keyframes targets {
  from {
    background-color: #ffffff00;
  }
  50% {
    background-color: #ffffffad;
  }
  to {
    background-color: #ffffff00;
  }
}
