html body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  position: relative;
  height: 100%;
  cursor: default;
}

.btnCont {
  position: relative;
  z-index: 1;
}
.dateBtn {
  border: solid 5px lightcyan;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  width: 200px;
  position: absolute;
  top: 250px;
  left: 20%;
  cursor: default;
}

.dp-container {
  margin-left: 5%;
  margin-top: 3%;
  background-color: lightblue;
  position: absolute;
  display: none;
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
  border: solid 5px #00000080;
  border-radius: 15px;
  box-shadow: 4px 4px 4px darkgray;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
/* codepen steal */
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.year {
  padding-top: 5%;
  font-size: 50px;
  height: 50px;
}

.yearSelect {
  width: 100px;
}
.textSelect {
  font-size: 25px;
  width: 200px;
  height: 70px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: lightblue;
}
.monthSelect {
  font-size: 25px;
}

.textSelect option {
  font-size: 15px;
}
.month {
  font-size: 40px;
}
.dname {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: lightblue;
}

.date {
  background-color: #cccccc;
}
.dateNum {
  line-height: 90px;
  width: 100px;
  height: 100px;
  background-color: #cccccc40;
  font-size: 40px;
}

.confirm {
  width: 70px;
  height: 60px;
  border: solid 10px darkcyan;
  border-radius: 10px;
  box-shadow: 0 0 10px darkblue;
  display: flex;
}
.confirm h2 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 3px 3px black;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .confirm {
    height: 50px;
  }
  .year {
    padding-top: auto;
  }
  .month {
    padding-bottom: 15px;
  }

  .textSelect {
    margin: 5px;
    height: 60px;
  }
  .dateNum {
    font-size: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
@media screen and (max-width: 375px) {
  .confirm {
    width: 45px;
    height: 35px;
  }
  .confirm h2 {
    font-size: 15px;
  }
  .selectBox {
    padding-top: 0;
  }
  .textSelect {
    padding: 0;
    width: 140px;
    height: 40px;
    font-size: 20px;
  }

  .dname {
    font-size: 10px;
  }
  .dateNum {
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .close {
    top: 12px;
    right: 12px;
  }
}

.selection {
  background-color: seagreen;
  color: #ffffff;
}
