body,
html {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: "Press Start 2P", cursive;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    " . . startbut . . "
    " . . main . . "
    " . . count . . ";
}
.startbutton {
  grid-area: startbut;
  margin-top: 75px;
}
.startbutton-button {
  background-color: #689ca3;
  box-shadow: 3px 3px 3px #3c5a5e;
  margin: 25px;
  text-align: center;
  width: 155px;
  height: 55px;
}
.startbutton-button h2 {
  color: lightgrey;
  padding: 5px;
  cursor: default;
}
.start-animation {
  animation-name: loading, fadein;
  animation-duration: 1s, 2s;
  animation-iteration-count: infinite, 1;
}
.countdown-container {
  grid-area: count;
  /* z-index: 9999; */
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.countdown {
  font-size: 100px;
  position: absolute;
  top: -214px;
  left: 62px;
}
.game-text {
  font-size: 100px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  position: absolute;
  top: -265px;
  left: -114px;
}

@media screen and (max-width: 320px) {
  .game-text {
    font-size: 50px;
    top: -187px;
    left: 3px;
  }
}

.container {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  gap: 4px;
  grid-template-areas:
    "box1 box2 box5 box10"
    "box3 box4 box6 box11"
    "box7 box8 box9 box12"
    "box13 box14 box15 box16";
}

.box1 {
  grid-area: box1;
  background-color: #c4c4c4;
}

.box2 {
  grid-area: box2;
  background-color: #c4c4c4;
}
.box3 {
  grid-area: box3;
  background-color: #c4c4c4;
}
.box4 {
  grid-area: box4;
  background-color: #c4c4c4;
}
.box5 {
  grid-area: box5;
  background-color: #c4c4c4;
}
.box6 {
  grid-area: box6;
  background-color: #c4c4c4;
}
.box7 {
  grid-area: box7;
  background-color: #c4c4c4;
}
.box8 {
  grid-area: box8;
  background-color: #c4c4c4;
}
.box9 {
  grid-area: box9;
  background-color: #c4c4c4;
}
.box10 {
  grid-area: box10;
  background-color: #c4c4c4;
}

.box11 {
  grid-area: box11;
  background-color: #c4c4c4;
}
.box12 {
  grid-area: box12;
  background-color: #c4c4c4;
}
.box13 {
  grid-area: box13;
  background-color: #c4c4c4;
}
.box14 {
  grid-area: box14;
  background-color: #c4c4c4;
}
.box15 {
  grid-area: box15;
  background-color: #c4c4c4;
}
.box16 {
  grid-area: box16;
  background-color: #c4c4c4;
}

@keyframes blink {
  from {
    background-color: #c4c4c4;
    opacity: 1;
  }
  50% {
    background-color: yellow;
    opacity: 1;
  }
  to {
    background-color: #c4c4c4;
    opacity: 1;
  }
}

@keyframes lockblink {
  from {
    background-color: lightgreen;
    opacity: 0.7;
  }
  to {
    background-color: darkgreen;
    opacity: 1;
  }
}

@keyframes missblink {
  from {
    background-color: red;
    opacity: 1;
  }
  to {
    background-color: black;
    opacity: 0.5;
  }
}

@keyframes gridlock {
  from {
    color: #cccccc;
    opacity: 0;
  }
  25% {
    color: #cccccc;
    opacity: 1;
  }

  50% {
    color: #cccccc;
    opacity: 1;
  }
  75% {
    color: #cccccc;
    opacity: 1;
  }
  to {
    color: #cccccc;
    opacity: 0;
  }
}

@keyframes gameover {
  from {
    color: black;
    opacity: 1;
  }
  50% {
    color: red;
    opacity: 0.5;
  }
  to {
    color: black;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    color: #ffffff;
    opacity: 1;
  }
  50% {
    color: yellow;
    opacity: 0.5;
  }
  to {
    color: #ffffff;
    opacity: 1;
  }
}
.target {
  animation: blink 0.5s infinite;
}
.locked {
  animation: lockblink 1s;
  background-color: darkgreen;
}

.miss {
  animation: missblink 1s;
}

.gridlock-feeling {
  animation-name: gridlock;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.gameover-feeling {
  animation-name: gameover, fadein;
  animation-duration: 4s, 4s;
  animation-iteration-count: infinite, 1;
}
